# OS cruft
.DS_Store

# Node / tooling
node_modules/

# Build outputs
/dist/

# Allow select dist files if needed (minified production files + source maps)
!/dist/rsm-loader.js
!/dist/rsm-loader.js.map
!/dist/homepage-loader.js
!/dist/homepage-loader.js.map
!/dist/js/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test results
test-results/

# Docs
docs/
